@using static OHD.Models.Requests;
@model RequstedAssigendByFacilityView

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Edit</h1>

<h4>RequstedAssigendView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <select asp-for="status" class="form-control" asp-items="@Html.GetEnumSelectList<Status>()"></select>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
