@model ChangePasswordView

<div class="row align-items-center">
	<div class="col-md-6">
		<img src="~/vendors/images/forgot-password.png" alt="">
	</div>
	<div class="col-md-6">
		@if (ViewBag.SendEmailCheck == true && ViewBag.pinVerified == false )
		{
			<div class="alert alert-success" > Kindly Check your Email @ViewBag.email  <br>we Send a pin! </div>
			<form asp-action="ForgetPassword" method="post">
				<div class="input-group custom">
					<input type="text" asp-for="pin" class="form-control form-control-lg" placeholder="******">
					<div class="input-group-append custom">
						<span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-5">
						<div class="input-group mb-0">
						
								<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
							
						</div>
					</div>
					<div class="col-2">
						<div class="font-16 weight-600 text-center" data-color="#707373" style="color: rgb(112, 115, 115);">
							OR
						</div>
					</div>
					<div class="col-5">
						<div class="input-group mb-0">
							<a asp-controller="Auth" asp-action="Index" class="btn btn-outline-primary btn-lg btn-block">Login</a>
						</div>
					</div>
				</div>
			</form>
		}
		else if (ViewBag.SendEmailCheck == true && ViewBag.pinVerified == true)
		{
			
				<div class="login-box bg-white box-shadow border-radius-10">
					@if (TempData["error"] != null)
					{
						<div class="alert alert-danger">@TempData["error"]</div>
					}

					<div class="login-title">
						<h2 class="text-center text-primary">Forgot Password</h2>
					</div>
					<h6 class="mb-20">
						Change Your Password
					</h6>
					<form asp-action="ForgetPassword" method="post">
					<input type="hidden" asp-for="id" value="@ViewBag.id" />
						<div class="input-group custom">
							
							<input type="text" asp-for="newPassword" class="form-control form-control-lg" placeholder="New Password">
							<div class="input-group-append custom">
								<span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							</div>
						</div>
						<div class="input-group custom">
							<input type="text" asp-for="confrimPassword" class="form-control form-control-lg" placeholder="Retype Password">
							<div class="input-group-append custom">
								<span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-5">
								<div class="input-group mb-0">
									<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">

								</div>
							</div>
							<div class="col-2">
								<div class="font-16 weight-600 text-center" data-color="#707373" style="color: rgb(112, 115, 115);">
									OR
								</div>
							</div>
							<div class="col-5">
								<div class="input-group mb-0">
									<a asp-controller="Auth" asp-action="Index" class="btn btn-outline-primary btn-lg btn-block">Login</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			
		}
		else
		{
				<div class="login-box bg-white box-shadow border-radius-10">
					<div class="login-title">
						<h2 class="text-center text-primary">Forgot Password</h2>
					</div>
					<h6 class="mb-20">
						Enter your Username to reset your password
					</h6>
				<form asp-action="ForgetPassword" method="post">
						<div class="input-group custom">
							<input type="text" asp-for="username" class="form-control form-control-lg" placeholder="Username">
							<div class="input-group-append custom">
								<span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-5">
								<div class="input-group mb-0">
									<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">

								</div>
							</div>
							<div class="col-2">
								<div class="font-16 weight-600 text-center" data-color="#707373" style="color: rgb(112, 115, 115);">
									OR
								</div>
							</div>
							<div class="col-5">
								<div class="input-group mb-0">
									<a asp-controller="Auth" asp-action="Index" class="btn btn-outline-primary btn-lg btn-block">Login</a>
								</div>
							</div>
						</div>
					</form>
				</div>
		}
		
	</div>
</div>